body {
    margin: 0;
    overflow: hidden; /* Приховуємо скрол */
    background-color: #f0f8ff; /* Небесний фон */
}

.scene {
    width: 100vw;
    height: 100vh;
    position: relative;
    border: 1px solid #ccc;
    /* Задіяли градієнт */
    background: linear-gradient(to bottom, #7de1f3 0%, #ffffff 100%);
}

/* --- 1. Анімація Фону (Хмари та Земля) --- */

.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
}

/* Стилі хмар (просто білі кола) */
.cloud {
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    width: 150px;
    height: 50px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.cloud-1 {
    top: 10%;
    animation: moveClouds 20s linear infinite;
    left: -10%; /* Починаємо поза екраном */
}

.cloud-2 {
    top: 25%;
    width: 200px;
    height: 70px;
    animation: moveClouds 25s linear infinite;
    animation-delay: 5s;
    left: -20%;
}

@keyframes moveClouds {
    0% {
        transform: translateX(0vw);
    }
    100% {
        /* Переміщуємо хмару повністю через екран + її власна ширина */
        transform: translateX(110vw);
    }
}

.ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #4a994d; /* Зелена трава */
    border-top: 5px solid #333;
}


/* --- 2. Анімація Спрайта Покемона --- */

.pokemon {
    position: absolute;
    bottom: 30%; /* Над землею */
    left: 0;
    width: 68px; /* Ширина одного кадру спрайту */
    height: 56px; /* Висота спрайту */
    
    background-image: url(../img/pikachu-running.gif); 
    
    background-repeat: no-repeat;
    
    /* Анімація переміщення по сцені */
    animation: runAcrossScreen_v2 4s linear infinite;
     will-change: transform, left; 
      /* --- ТИМЧАСОВІ СТИЛІ ДЛЯ ВІДЛАГОДЖЕННЯ --- */
    /*background-color: red !important;
    border: 2px solid blue !important;
    /* ------------------------------------------- */
}

/* Анімація руху по екрану */
@keyframes runAcrossScreen_v2 {
    0% {
        left: -68px; 
    }
    100% {
        /* Кінець повністю за межами екрану справа (ширина всього екрану + ширина покемона) */
        left: 100vw; 
    }
  /*      transform: translateX(-100px); /* Початок за межами екрану зліва */
   /* }
    100% {
        transform: translateX(100vw); /* Кінець за межами екрану справа */
    /*} */
}


/* Додаткові стилі для тексту */
.title-box {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #333;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
}
